<ul class="menu-inner py-1">
	<li class="menu-item">
	  <a href="/principal/<%= uid_usuario %>" class="menu-link">
		<i class="menu-icon tf-icons bx bx-home-circle"></i>
		<div data-i18n="Analytics">Dashboard</div>
	  </a>
	</li>
	<li class="menu-item ">
	  <a href="/clientes/<%= uid_usuario %>" class="menu-link">
		<i class="menu-icon tf-icons bx bx-user"></i>
		<div data-i18n="Support">Clientes</div>
	  </a>
	</li>
	<li class="menu-item">
	  <a href="/status/<%= uid_usuario %>" class="menu-link">
		<i class="menu-icon tf-icons bx bx-detail"></i>
		<div data-i18n="Support">Status</div>
	  </a>
	</li>
	<li class="menu-item active">
	  <a href="/tipoServico/<%= uid_usuario %>" class="menu-link">
		<i class="menu-icon tf-icons bx bx-detail"></i>
		<div data-i18n="Support">Tipo de Serviço</div>
	  </a>
	</li>
	<li class="menu-item">
	  <a href="/ordem_servico/<%= uid_usuario %>" class="menu-link">
		<i class="menu-icon tf-icons bx bx-spreadsheet"></i>
		<div data-i18n="Documentation">Ordem de Serviços</div>
	  </a>
	</li>
	
	<li class="menu-item">
	  <a href="/" class="menu-link">
		<i class="menu-icon tf-icons bx bx-spreadsheet"></i>
		<div data-i18n="Documentation">Sair</div>
	  </a>
	</li>
</ul>